[Unit]
Description=Electrumx
After=network.target

[Service]
EnvironmentFile=/home/electrumx/electrumx.conf
ExecStart=/usr/local/bin/electrumx_server.py
User=osboxes
LimitNOFILE=8192
TimeoutStopSec=30min

[Install]
WantedBy=multi-user.target
