sudo: required
dist: trusty
language: python
before_install:
  - sudo add-apt-repository -y ppa:giskou/librocksdb
  - sudo apt-get -qq update
  - sudo apt-get install -yq librocksdb libsnappy-dev zlib1g-dev libbz2-dev libgflags-dev
  - wget https://launchpad.net/ubuntu/+archive/primary/+files/leveldb_1.20.orig.tar.gz
  - tar -xzvf leveldb_1.20.orig.tar.gz
  - pushd leveldb-1.20 && make && sudo mv out-shared/libleveldb.* /usr/local/lib && sudo cp -R include/leveldb /usr/local/include && sudo ldconfig && popd
python:
  - "3.6"
  - "nightly"
# command to install dependencies
install:
  - pip install aiohttp
  - pip install aiorpcX
  - pip install ecdsa
  - pip install plyvel
  - pip install pyrocksdb
  - pip install tribus-hash
  - pip install pytest-cov
  - pip install pylru
  - pip install blake256
  - pip install x11_hash
  - pip install xevan_hash
# command to run tests
script: pytest --cov=server --cov=lib --cov=wallet
# Dont report coverage from nightly
after_success:
  - if [[ $(python3 -V 2>&1) == *"Python 3.6"* ]]; then
      pip install python-coveralls;
      coveralls;
    fi
