aiohttp==3.6.2
aiorpcX==0.18.4
Cython==0.29.20
ecdsa==0.15
plyvel==1.2.0
pycodestyle==2.6.0
pylru==1.2.0
python-rocksdb==0.7.0
pytest-asyncio==0.14.0
pytest-cov==2.10.0
Sphinx==3.1.1
# hashes
tribushashm==1.0.5
blake256==0.1.1
scrypt==0.8.15
x11-hash==1.4
git+https://github.com/bitcoinplusorg/x13-hash
xevan-hash==0.2.3
quark-hash==1.0
groestlcoin-hash==1.0.1
neoscrypt==1.2.1
x16r-hash==1.0.1
pycryptodomex==3.9.8
git+https://github.com/Electra-project/nist5_hash
git+https://github.com/RitoProject/x21s_hash
git+https://github.com/traysi/x16rv2_hash
bell-yespower==1.0.3
cpupower==1.0.1
