aiohttp==2.3.0
async-timeout==2.0.0
chardet==3.0.4
ecdsa==0.13
electrumx==1.2
inflect==0.2.5
irc==16.0
jaraco.classes==1.4.1
jaraco.collections==1.5.1
jaraco.functools==1.16
jaraco.itertools==2.0.1
jaraco.logging==1.5
jaraco.stream==1.1.2
jaraco.text==1.9.2
more-itertools==3.2.0
multidict==3.3.0
plyvel==0.9
pylru==1.0.9
pytz==2017.2
scrypt==0.8.0
six==1.11.0
tempora==1.9
uvloop==0.8.1
x11-hash==1.4
yarl==0.13.0
